/*===========================
qsr-quickPanel
===================================*/

.qsr-quickPanel .panel-heading{
  height:auto;
  border-color: #2C82C9;
}
.qsr-quickPanel .panel-title{
  line-height: 31px;
  font-size: 13px;
  background:#2C82C9;
  border: #2C82C9;
}
.qsr-quickPanel .panel-title:hover{
  background: #2C82C9;
}
.qsr-quickPanel .panel-title a:hover, .qsr-quickPanel .panel-title a:focus{
  color:#fff;
}

.qsr-quickBtns{
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f6f7f2;
  border-color: #f2f4f6;
}
.qsr-quickPanel .qsr-filterBtns{
  margin: 3px 3px 3px 0; 
}

/*--BooKTable Styles--*/
.BookTable-div button {
    width: 45px;
    height: 35px;
    margin-right:  10px;
    margin-top: 15px;
    font-size: 15px;
}

.BookTable-div { 
    brder: 1px solid #D6D6D6;
    padding: 10px;
    width: 250px;
    display: inline-block;
    backgroud-color: #F5F5F5;
    margin-left: 6px;
    margin-bottom: 10px;
}

.Table-seatno{
  margin-left: 15px; margin-bottom: 15px;
}
.Table-seatno .btn{
  margin-right: 4px; 
}

/*---Business Units Styles---*/
.Bs-units .dropdown-menu .fa{
  font-size: 16px;
  color:coral;
}
    @media only screen and (min-width : 320px) and (max-width : 768px)  { 
      .qsr-quickBtns .qsr-BackBtn, .qsr-quickBtns .qsr-TablesBtn, 
      .qsr-quickBtns .qsr-SearchpopBtn, .qsr-quickBtns .qsr-BuBtn, .qsr-quickBtns .qsr-AllBtn{
            padding: 12px 12px !important;
         }
      .qsr-quickPanel .panel-title a{
            line-height: 45px;
         }
      .qsr-quickPanel  .panel-collapse .btn{
            padding:12px 12px;
         }
    }
    /*@media all and (device-width: 1024px)  and (orientation:landscape) {
      .qsr-quickBtns .qsr-BackBtn, .qsr-quickBtns .qsr-TablesBtn, 
      .qsr-quickBtns .qsr-SearchpopBtn, .qsr-quickBtns .qsr-BuBtn, .qsr-quickBtns .qsr-AllBtn{
          padding: 12px 12px !important;
        }
        
      .qsr-quickPanel .panel-title a{
            line-height: 45px;
         }
    }*/



/*===========================
items-productcolumn
===================================*/
.productbox {
  background-color:#ffffff;
  /*padding:10px;*/
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom:10px;
  margin-right: 10px;
  box-shadow: 0 8px 6px -6px #999;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
  -moz-box-shadow: 0 8px 6px -6px  #999;
}

.productbox .producttitle{
  height:38px;
  font-size: 11px;
  font-weight: bold;
  padding:3px 0 3px 0;
  color:#738697;
  text-transform: uppercase;
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.4em;
}

#items-productcolumn #itemsdiv .productbox img{
  min-width: 100%;
  max-width: 100%;
  height: 62px;
  /*height: 61.17px;*/
}

#items-productcolumn{
    width: 62%;
}

#items-ordercolumn{
    width: 38%;
  }

#itemsdiv .productbox{
  /*width: 12.7%;*/
  width: 13%;
}


/*================================
      items-ordercolumn
==================================*/

 #BillTable thead tr th, #BillTable tbody tr td{
  padding:8px 3px;

}
#BillTable .cart-description h5{
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
}

#BillTable .cart-image img{
  width: 25px;
  max-width: 100%;
  height: 25px;
}


#BillTable .td-price .cart-price, #BillTable .cart-Amount, #BillTable #NetAmount{
  font-size: 15px;
  font-weight:bold;
}


#BillTable .cart-quantity-button a{
  background:#ddd;
  color: #696763;
  display: inline-block;
  padding: 4px 4px;
  overflow: hidden;
  text-align: center;
  width: 30px;
  float: left;
}

#BillTable .cart-qty-input {
  color: #696763;
  float: left;
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto',sans-serif;
}

#BillTable .cart-delete .btn.cart-item-delete:hover {
  background:#E3000E;
  border-color: #E3000E;
}
#BillTable .cart-delete .btn.cart-item-delete{
  padding:6px 6px;
}


@media (max-width: 767px){
 #BillTable .cart-quantity-button a{
  padding: 4px 4px;
  width: 42px;
  } 
}

@media (max-width: 360px){
  #BillTable thead tr th{
    padding: 6px;
  }
  #BillTable tbody tr td{
    padding: 6px;
  }
}

@media (max-width: 320px){
  #BillTable thead tr th{
    padding: 4px;
  }
  #BillTable tbody tr td{
    padding: 4px;
  }
  
}




/*===============================================
Media queries for items productcolumn and items ordercolumn
====================================*/

@media (min-width: 1024px) and (max-width: 1366px)  { 

     #items-productcolumn{
    width: 62%;
        }
    #items-ordercolumn{
    width: 38%;
    }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

      #items-productcolumn{
          width: 100%;
      }
      #items-ordercolumn{
        width: 100%;
      }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

        #items-productcolumn{
          width: 56%;
      }
        #items-ordercolumn{
          width: 44%;
        }

        #itemsdiv .productbox{
        width: 14.6%;
      }

}


/*================iphone 6 Plus=====================*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait)  { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }

      #itemsdiv .productbox{
        width: 17.2%;  
      }
      .productbox .producttitle{
        font-size: 9px;
      }
}
      
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape)  { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }

      #itemsdiv .productbox{
        width: 15.2%;  
      }
      .productbox .producttitle{
        font-size: 9px;
      }
}

/*================Nexus 5X=====================*/
@media only screen 
and (min-device-width : 412px) 
and (max-device-width : 732px) 
and (orientation : portrait)   { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }
    #itemsdiv .productbox{
      width: 22.2%;  
      }
   .productbox .producttitle{
      font-size: 9px;
      }
}
@media only screen 
and (min-device-width : 412px) 
and (max-device-width : 732px) 
and (orientation : landscape)  { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }
    #itemsdiv .productbox{
        width: 15.1%;  
      }
      .productbox .producttitle{
        font-size: 9px;
      }
}

/*================iphone 6=====================*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait)  {

.productbox .producttitle{
        font-size: 9px;
      }
     

}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape)  { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }

      #itemsdiv .productbox{
        width: 14.9%;  
      }
      .productbox .producttitle{
        font-size: 9px;
      }
     
}

/*================ Galaxy Note3 =====================*/
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : portrait)  { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }

      #itemsdiv .productbox{
        width: 16.8%;
      }
      .productbox .producttitle{
        font-size: 9px;
      }
      
}

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : landscape)  { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }

      #itemsdiv .productbox{
        width: 14.9%;  
      }
      .productbox .producttitle{
        font-size: 9px;
      }
}

/*================iphone 5=====================*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait)   { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }
    #itemsdiv .productbox{
    width: 21.3%;  
      }
   .productbox .producttitle{
    font-size: 8px;
      }
    

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape)  { 

     #items-productcolumn{
    width: 100%;
        }
    #items-ordercolumn{
    width: 100%;
    }
    #itemsdiv .productbox{
        width: 18%;  
      }
      .productbox .producttitle{
        font-size: 8px;
      }
}



/*================iphone 6 Plus=====================*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait)  { 

     
   
}

/*==================Calculator=================*/

#background {
    width:270px;
    height:370px;
    background:#c8d4e3;/*#ecf0f5;*/
    /*margin:50px auto;
    -webkit-animation:bgChange 2s 2s alternate infinite;
    transition: all 2s ease;*/
}

button {
    border:0;
    color:#fff;
}

#result {
    display:block;
    font-family: sans-serif;
    width:230px;
    height:40px;
    margin:0px auto;
    text-align: right;
    border:0;
    background:#3b3535;
    color:#fff;
    padding-top:10px;
    font-size:20px;
    margin-left: 25px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    position: relative;
    top:10px;
}

#main{
  margin-top: 10px;
}
#result:hover {
     cursor: text;
    
}

#first-rows {
    margin-bottom: 20px;
    position: relative;
    top:10px;
}

.rows {
    width:300px;
    margin-top:10px;
}

#delete {
    width:110px;
    height:50px;
    margin-left:25px;
    border-radius:4px;
}

/* Aligning the division and dot button properly */
.fall-back {
    margin-left:3px !important;
}

/* Aligning the addition and equals to button properly */
.align {
    margin-left: 6px !important;
}

/* Button styling */
.btn-style {
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:4px;
}

.eqn {
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:4px;
}

.first-child {
 margin-left:25px;
}


/* Adding background color to the number values */
 .num-bg {
    background:#000;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    border-bottom:3px solid #333;
}

 .num-bg:active {
    background:#000;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    box-shadow: inset 5px 5px 5px #555;
}

/*Adding background color to the operator values */ 
.opera-bg {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #555;
}

.opera-bg:active {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #555;
}

/*Adding a background color to the delete button */
.del-bg {
    background:#24b4de;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #399cb9;
}

.del-bg:active {
    background:#24b4de;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #399cb9;
}

/*Adding a background color to the equals to button */
#eqn-bg {
    background:#17a928;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #1f7a29;
}

#eqn-bg:active {
    background:#17a928;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #1f7a29;
}

@-webkit-keyframes bgChange {
    0% {
       background:#24b4de; 
    }
    
    50% {
      background:#17a928;
    }
    
    100% {
        background:#399cb9;
    }
}